.example-card {
    margin-top: 30px;
    width: 400px;
    cursor: pointer;
}

.content {
    cursor: pointer;
}

.example-header-image {
    background-size: cover;
}

.actions {
    display: flex;
    justify-content: space-evenly;
}

.center {
    display: flex;
    justify-content: center;
}