<mat-card class="example-card" (click)="redirectTo()">
  <mat-card-header class="center">
    <mat-card-title>{{name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="content" (click)="redirectTo()">
    <p>
      <b>Description: </b>{{description}}
    </p>
    <p *ngIf="type != 'category'">
      <b>Price: </b>{{price}}
    </p>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button mat-button *ngIf="type != 'category'" (click)="add()">ADD</button>
    <button mat-button *ngIf="type != 'category'" (click)="remove()">REMOVE</button>
    <button *ngIf="role == 'admin'" mat-raised-button color="warn" (click)="deleteItem()">DELETE</button>
  </mat-card-actions>
</mat-card>