<div class="container">
    <div class="form">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput>
        </mat-form-field>
        <button mat-button mat-raised-button color="primary">Login</button>
    </div>
    
    <div class="vertical-line"></div>

    <img class="img" [src]="imagePath" alt="Your Image" style="max-width: 100%; height: 600px;">
</div>