@use '../../../theme.scss' as *;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
}

.vertical-line {
    height: 300px;
    border-left: 1px solid #ccc;
    margin: 0 100px;
}

a {
    color: $my-grey-400;
    text-decoration: none;
}

.info {
    margin-top: 15px;
}
